body{
    background-color: azure;
}

h1{
    color: rgb(188, 115, 204);
    text-align: center;
}

h2{
    text-align: center;
}

.imggallery{
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
    align-content: center;
    margin-top: 20px;
}
.imggallery div{
    border: 2px solid rgb(124, 117, 117);
    border-radius: 2%;
    text-align: center;
    align-items: center;
}